<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MyPortalAuto" verbose="1" >
    <test name="Regress" >
        <classes>
            <class name="TestNG">
                <methods>
                  <include name="runTest2"/>
                  <include name="runTest3"/>
                <methods/>
            </class>
        </classes>
    </test>

</suite>

